{% extends "ipldataset/home.html" %}
{% block content %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
        function graph5() {
            var items = {{ top_batsman|safe  }}
            console.log(items)
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Matches Played In a Season'
                },
                xAxis: {
                    categories: ['1','2','3','4','5'],
                    title: {
                        text: 'Batsman '
                    }

                },
                yAxis: {
                    title: {
                        text: 'Runs',
                        
                    },
                    tickAmount: 8
                },
                legend: {
                        enabled: true
                },
                 plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            // format: '{point.y:.1f}%'
                        }
                }
    },
                series: items
            });
         }
</script>
<body onload = "graph5()"></body>
<div id="container" style="padding:5em"></div>
    
{% endblock content %}     
    
        
        
        
