{% extends "ipldataset/home.html" %}
{% block content %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
        function graph1() {
            var items = {{ bowlers_economic|safe  }}
            let bowlers_name = [];
            for( bowler in items)
            {
                console.log(items[bowler])
                bowlers_name.push(items[bowler]['name'])
            }
            console.log(bowlers_name)
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Matches Played In a Season'
                },
                yAxis: {
                    tickAmount: 8
                },
                legend: {
                        enabled: true
                },
                 plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            // format: '{point.y:.1f}%'
                        }
                }
    },
                series: items
            });
         }
</script>
<body onload = "graph1()"></body>
<div id="container" style="padding:5em"></div>
    
{% endblock content %}     
    
        
        
        
