{% extends "ipldataset/home.html" %}
{% block content %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
        function graph1() {
            var items = {{total_match_played|safe}};
            console.log("items=",items)
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Matches Played In a Season'
                },
                // xAxis: {
                //     categories: ['2008', 'America', 'Asia', 'Europe', 'Oceania']
                // },
                yAxis: {
                    title: {
                        text: 'Runs',
                        
                    },
                    tickAmount: 8
                },
                legend: {
                        enabled: true
                },
                 plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            // format: '{point.y:.1f}%'
                        }
                    }
                },
                series: items
            });
        }
</script>
<body onload = "graph1()"></body>
<div id="container" style="padding:5em"></div>
    
{% endblock content %}     
    
        
        
        
