{% extends "ipldataset/home.html" %}
{% block content %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
        function graph1() {
            var items = {{ teams_win |safe  }}
            console.log(items)
            Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Stacked column chart'
    },
    xAxis: {
        categories: [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total fruit consumption'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
        }
    },
    series: items
});
         }
</script>
<body onload = "graph1()"></body>
<div id="container" style="height:50em;padding:5em"></div>
    
{% endblock content %}     
    
        
        
        
