{% extends "ipldataset/home.html" %}
{% block content %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
        function graph3() {
            var items = {{ extra_runs|safe  }}
            console.log("hello ",items)
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Extra Runs By Team In a 2016'
                },
                // xAxis: {
                //     type: 'category'
                //     // categories: ['2008', 'America', 'Asia', 'Europe', 'Oceania']
                // },
                yAxis: {
                    tickAmount: 8
                },
                legend: {
                        enabled: true
                },
                 plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            // format: '{point.y:.1f}%'
                        }
                }
    },
                series: items
            });
         }
</script>
<body onload = "graph3()"></body>
<div id="container" style="padding:5em"></div>
    
{% endblock content %}     
    
        
        
        
