<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Django Highcharts Example</title>
</head>
<body>
    <div style="padding:3em;float:center">
          <a href= "{% url 'chart-1'%} ">  <button type="button" class="btn btn-outline-secondary">Graph 1</button></a>
          <a href= "{% url 'chart-2'%} "> <button type="button" class="btn btn-outline-secondary">Graph 2</button></a>
         <a  href= "{% url 'chart-3'%}">     <button type="button" class="btn btn-outline-secondary">Graph 3</button></a>
          <a href= "{% url 'chart-4'%} ">  <button type="button"class="btn btn-outline-secondary" >Graph 4</button></a>
          <a href= "{% url 'chart-5'%} "> <button type="button" class="btn btn-outline-secondary">Graph 5</button></a>
            {% block content%}
            
            {%endblock content%}
    </div>
</body>
</html>
</DOCTYPE>